html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
}
#map-canvas {
  height: 100%;
}
.nice-box {
  position: absolute;
  text-align: left;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  z-index: 5;
  box-shadow: 0 4px 6px -4px #333;
  background: rgb(255,255,255);
  background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
  border: rgb(229, 229, 229) 1px solid;
  border-radius: 4px;
}
.title-style {
  background: #338333; /*dark green*/
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px
}
#info-box {
  top: 15px;
  right: 4px;
  border: rgb(0, 0, 0) 0px solid;
}
#comments-box{
  top: 45px;
  right: 4px;
  border: rgb(0, 0, 0) 0px solid;
}
#version-box{
  top: 45px;
  right: 4px;
  font-size: 10px;
  border-radius: 0px;
  padding: 5px 10px
}
#image-box {
  bottom: 15px;
  left: 4px;
  height: 267px;
  width: 256px;
  background: rgba(0,0,0,0.75) url('header-cropped.jpg') no-repeat center;
}
.divider-line {
  height: 2px;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 95%;
  background: gainsboro   
}
#dropdown-box {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  top: 15px;
  left: 40%;
  width: 500px;
  height: 45px;
}
#tile-variable-text {
  float: left;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 0px;
  padding-top: 4px;
  padding-bottom: 0px;  
}
#legend { 
  display: flex;
  display: -webkit-flex; 
  padding-top: 7px;
  width: 100%; 
}
.color-key {
  background: linear-gradient(to right,
    hsl(5, 69%, 54%) 0%,
    hsl(29, 71%, 51%) 17%,
    hsl(54, 74%, 47%) 33%,
    hsl(78, 76%, 44%) 50%,
    hsl(102, 78%, 41%) 67%,
    hsl(127, 81%, 37%) 83%,
    hsl(151, 83%, 34%) 100%);
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0 5px;
  text-align: left;
  font-size: 1.0em;
  line-height: 1.0em;
}
#data-caret { 
  margin-left: -5px; 
  display: none; 
  font-size: 14px; 
  width: 14px
}
